* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    overflow: auto;
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(to bottom, #ffffff, #FAF5EF);
}

.navbar-admin {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 6.2vh;
    background-color: #0076A8;
    transition: width 0.3s;
    overflow-x: hidden;
    z-index: 10;
}

.navbar-admin:hover {
    width: 20vh;
}

.avatar {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1.7vh;
    transition: padding 0.3s;
}

.avatar-img {
    width: 4.5vh;
    height: 4.5vh;
    border-radius: 50%;
    transition: width 0.3s, height 0.3s;
}

.admin-name {
    display: none;
    font-size: 1.7vh;
    color: white;
    margin-top: 0.7vh;
}

.navbar-admin:hover .admin-name {
    display: block;
}

.navbar-admin:hover .avatar-img {
    width: 8vh;
    height: 8vh;
}

.nav-buttons-admin {
    margin-top: 4vh;
}

.nav-item-admin {
    display: flex;
    align-items: center;
    padding: 1.1vh;
    cursor: pointer;
    color: white;
    transition: background 0.2s;
}

.nav-item-admin:hover {
    background-color: #D27F38;
}

.icon {
    font-size: 2.5vh;
    margin-right: 1.1vh;
}

.nav-text {
    display: none;
    font-size: 1.7vh;
}

.navbar-admin:hover .nav-text {
    display: inline;
}

.logout {
    position: absolute;
    bottom: 2.2vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1.1vh;
    cursor: pointer;
    color: white;
}

.logout:hover {
    background-color: #D27F38;
}

.content-wrapper h1 {
    margin-left: 20vh;
    margin-top: 2.5vh;
}

h2 {
    margin-bottom: 2vh;
    margin-top: 1vh;
}

.table-container-wrapper {
    display: flex;
    justify-content: space-between;
    margin-left: 15vh;
    padding: 2vh;
    gap: 2vh;
}

.table-container {
    flex: 1;
    min-width: 45%; 
    max-width: 48%;
    overflow-x: auto;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 2vh;
}

th, td {
    text-align: left;
    padding: 1.2vh;
    border: 0.1vh solid #ddd;
}

th {
    background-color: #0076A8;
    color: #FAF5EF;
}

tbody tr:hover {
    background-color: #f1f1f1;
}

.action-icon {
    cursor: pointer;
    margin: 0 0.5vh;
    font-size: 2vh;
    border: 0.1vh solid #ddd;
    border-radius: 0.4vh;
    transition: background-color 0.3s, color 0.3s;
}

.action-icon:hover {
    color: #fff;
    background-color: #D27F38;
}

td.icon {
    text-align: center;
    vertical-align: middle;
    padding: 1vh; 
}

.modal {
    display: none; /* Hidden by default */
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
    background-color: #fff;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #ddd;
    width: 400px;
    text-align: center;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

.modal-actions {
    margin-top: 20px;
}

.modal-actions button {
    padding: 10px 20px;
    margin: 0 10px;
    border: none;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
}

.modal-actions button#savePasswordBtn {
    background-color: #28a745;
    color: white;
}

.modal-actions button#closeModalBtn {
    background-color: #dc3545;
    color: white;
}