* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    overflow: auto;
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(to bottom, #ffffff, #FAF5EF);
}

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 6.2vh;
    background-color: #0076A8;
    transition: width 0.3s;
    overflow-x: hidden;
    z-index: 10;
}

.navbar:hover {
    width: 20vh;
}

.avatar {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1.7vh;
    transition: padding 0.3s;
}

.avatar-img {
    width: 4.5vh;
    height: 4.5vh;
    border-radius: 50%;
    transition: width 0.3s, height 0.3s;
}

.user-name {
    display: none;
    font-size: 1.7vh;
    color: white;
    margin-top: 0.7vh;
}

.navbar:hover .user-name {
    display: block;
}

.navbar:hover .avatar-img {
    width: 8vh;
    height: 8vh; 
}

.nav-buttons {
    margin-top: 4vh;
}

.nav-item {
    display: flex;
    align-items: center;
    padding: 1.1vh;
    cursor: pointer;
    color: white;
    transition: background 0.2s;
}

.nav-item:hover {
    background-color: #D27F38;
}

.icon {
    font-size: 2.5vh;
    margin-right: 1.1vh;
}

.nav-text {
    display: none;
    font-size: 1.7vh;
}

.navbar:hover .nav-text {
    display: inline;
}

.logout {
    position: absolute;
    bottom: 2.2vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1.1vh;
    cursor: pointer;
    color: white;
}

.logout:hover {
    background-color: #D27F38;
}

.container {
    text-align: center;
    margin-top: 5vh;
    margin-left: 23vh;
    max-width: 150vh;
}

h1, h2 {
    margin-top: 1vh;
    margin-bottom: 3vh;
    margin-left: 1vh;
}

#routes-body {
    background-color: #ffffff; 
}

#routes-table {
    border-collapse: collapse; 
    width: 100%;
    margin: 0 auto; 
}

#routes-table th, #routes-table td {
    border: 0.1vh solid #dddddd;
    padding: 1.2vh;
    text-align: center; 
}

#routes-table th {
    background-color: #0076A8;
    color: #FAF5EF;
}

#routes-table th:nth-child(1),
#routes-table td:nth-child(1) {
    width: 70%;
}

#routes-table th:nth-child(2),
#routes-table td:nth-child(2) {
    width: 30%;
}

#new-route-btn {
    margin-top: 2vh;
    margin-left: 6vh;
    padding: 0.7vh 2vh;
    background-color: #D27F38;
    color: white;
    border: none;
    border-radius: 0.4vh;
    cursor: pointer;
    box-shadow: 0 0.2vh 0.2vh rgba(0, 0, 0, 0.2);
}

#new-route-btn:hover {
    background-color: rgb(184, 100, 27);
}

.popup, #create-route-popup {
    display: none; 
    position: fixed; 
    top: 50%; 
    left: 50%;
    transform: translate(-50%, -50%); 
    background-color: white;
    padding: 2vh;
    border-radius: 0.5vh;
    box-shadow: 0 0.4vh 0.6vh rgba(0, 0, 0, 0.2);
    z-index: 1000;
    width: 50vh;
}

.popup-content {
    text-align: center;
}

.close-btn {
    position: absolute;
    top: 1vh;
    right: 1.2vh;
    width: 3vh;
    height: 3vh;
    background-color: transparent;
    padding: 0;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s, transform 0.3s;
}

.close-btn:hover {
    background-color: #D27F38;
    transform: scale(1.1);
}

.close-btn span {
    color: #D27F38;
    font-size: 1.8vh;
    transition: color 0.3s;
}

.close-btn:hover span {
    color: white;
}


#create-route-popup h2 {
    text-align: center;
    margin-bottom: 15px;
}

#create-route-popup input[type="text"], #poi-list, #selected-pois {
    width: 100%;
    padding: 0.8vh;
    margin: 1vh 0;
    border: 0.1vh solid #ccc;
    border-radius: 4px;
}

#create-route-popup button {
    padding: 10px;
    margin-top: 10px;
    background-color: #0076A8;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#create-route-popup button:hover {
    background-color: #00577c;
}

#poi-list, #selected-pois {
    list-style: none;
    max-height: 30vh;
    overflow-y: scroll;
}

#poi-list::-webkit-scrollbar {
    display: none;
}

#selected-pois::-webkit-scrollbar {
    display: none;
}

#poi-list li, #selected-pois li {
    margin-bottom: 8px;
    display: flex;
    justify-content: space-between;
}

#poi-list li button, #selected-pois li button {
    padding: 5px;
    cursor: pointer;
}

.delete-button {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
}

.delete-button .material-icons {
    font-size: 2.5vh;
    color: #FF5252;
}

.delete-button:hover .material-icons {
    color: #D32F2F;
}

#save-create-route-btn.save-route-btn {
    background-color: #D27F38;
    color: white;
    border: none;
    border-radius: 0.4vh;
    cursor: pointer;
    box-shadow: 0 0.2vh 0.2vh rgba(0, 0, 0, 0.2);
    padding: 0.7vh 2vh;
}

#save-create-route-btn.save-route-btn:hover {
    background-color: rgb(184, 100, 27);
}

#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    z-index: 999; 
}