body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #FAF5EF;
}

html, body {
    overflow: scroll;
}

html::-webkit-scrollbar, body::-webkit-scrollbar {
    width: 0px;
    height: 0px;
}

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 6.2vh;
    background-color: #0076A8;
    transition: width 0.3s;
    overflow-x: hidden;
    z-index: 10;
}

.navbar:hover {
    width: 20vh;
}

.avatar {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1.7vh;
    transition: padding 0.3s; 
}

.avatar-img {
    width: 4.5vh;
    height: 4.5vh;
    border-radius: 50%;
    transition: width 0.3s, height 0.3s;
}

.user-name {
    display: none;
    font-size: 1.7vh;
    color: white;
    margin-top: 0.7vh;
}

.navbar:hover .user-name {
    display: block;
}

.navbar:hover .avatar-img {
    width: 8vh;
    height: 8vh; 
}

.nav-buttons {
    margin-top: 4vh;
}

.nav-item {
    display: flex;
    align-items: center;
    padding: 1.1vh;
    cursor: pointer;
    color: white;
    transition: background 0.2s;
}

.nav-item:hover {
    background-color: #D27F38;
}

.icon {
    font-size: 2.5vh;
    margin-right: 1.1vh;
}

.nav-text {
    display: none;
    font-size: 1.7vh;
}

.navbar:hover .nav-text {
    display: inline;
}

.logout {
    position: absolute;
    bottom: 2.2vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1.1vh;
    cursor: pointer;
    color: white;
}

.logout:hover {
    background-color: #D27F38;
}

.place-list {
    display: flex;
    flex-wrap: wrap;
    gap: 2vh;
    padding: 2vh;
    margin-left: 20vh;
}

.place {
    border: 1px solid #ccc;
    border-radius: 8px;
    overflow: hidden;
    width: 300px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.place-image {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.place-details {
    padding: 1.5vh;
    max-height: 20vh;
    overflow-y: auto;
}

/* Esconde a barra de rolagem */
.place-details::-webkit-scrollbar {
    width: 0px;
    height: 0px;
}

.place-details::-webkit-scrollbar-thumb {
    background: transparent;
}

.place-details::-webkit-scrollbar-track {
    background: transparent;
}

.place-details h3 {
    font-size: 1.5em;
    margin-bottom: 1vh;
}

.place-details p {
    font-size: 1em;
    color: #666;
    margin-bottom: 1.5vh;
}

.favorite-btn {
    display: flex;
    align-items: center;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 0.4vh;
    padding: 1vh 1.5vh;
    cursor: pointer;
    font-size: 1em;
    margin-top: 10vh;
}

.favorite-btn .material-icons {
    margin-right: 8px;
}

.favorite-btn:hover {
    background-color: #0056b3;
}

.favorite-btn:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}