* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    overflow: hidden;
    font-family: 'Poppins', sans-serif;
}

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 6.2vh;
    background-color: #0076A8;
    transition: width 0.3s;
    overflow-x: hidden;
    z-index: 10;
}

.navbar:hover {
    width: 20vh;
}

.avatar {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1.7vh;
    transition: padding 0.3s;
}

.avatar-img {
    width: 4.5vh;
    height: 4.5vh;
    border-radius: 50%;
    transition: width 0.3s, height 0.3s;
}

.user-name {
    display: none;
    font-size: 1.7vh;
    color: white;
    margin-top: 0.7vh;
}

.navbar:hover .user-name {
    display: block;
}

.navbar:hover .avatar-img {
    width: 8vh;
    height: 8vh; 
}

.nav-buttons {
    margin-top: 4vh;
}

.nav-item {
    display: flex;
    align-items: center;
    padding: 1.1vh;
    cursor: pointer;
    color: white;
    transition: background 0.2s;
}

.nav-item:hover {
    background-color: #D27F38;
}

.icon {
    font-size: 2.5vh;
    margin-right: 1.1vh;
}

.nav-text {
    display: none;
    font-size: 1.7vh;
}

.navbar:hover .nav-text {
    display: inline;
}

.logout {
    position: absolute;
    bottom: 2.2vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1.1vh;
    cursor: pointer;
    color: white;
}

.logout:hover {
    background-color: #D27F38;
}

#map {
    height: 100%;
    width: 97%;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
}

.button-locate {
    position: absolute;
    bottom: 6vh;
    left: 50%;
    transform: translateX(-50%);
    padding: 1.3vh 2.8vh;
    font-size: 1.7vh; 
    border-radius: 1vh;
    background-color: #D27F38;
    color: white;
    cursor: pointer;
    z-index: 20;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
}

.button-locate:hover {
    background-color: #b66e2f;
}

.button-custom-routes {
    position: absolute;
    top: 5vh; /* Place it near the top of the page */
    left: 50%;
    transform: translateX(-50%);
    padding: 1.3vh 2.8vh;
    font-size: 1.7vh;
    border-radius: 1vh;
    background-color: #D27F38;
    color: white;
    cursor: pointer;
    z-index: 21; /* Ensure it appears above the locate button */
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
}

.button-custom-routes:hover {
    background-color: #b66e2f;
}

#custom-routes-popup {
    display: none; /* Hidden by default */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
}

.popup-content {
    position: relative;
    background-color: white;
    padding: 20px;
    margin: 50px auto;
    width: 80%;
    max-width: 500px;
    border-radius: 10px;
}

#closePopupButton {
    margin-top: 20px;
    padding: 10px;
    background-color: #D27F38;
    color: white;
    border: none;
    cursor: pointer;
}

#closePopupButton:hover {
    background-color: #b66e2f;
}