body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #FAF5EF;
    overflow: hidden;
}

body::-webkit-scrollbar {
    width: 0;
    height: 0;
}

body {
    scrollbar-width: none;
}

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 6.2vh;
    background-color: #0076A8;
    transition: width 0.3s;
    overflow-x: hidden;
    z-index: 10;
}

.navbar:hover {
    width: 20vh;
}

.avatar {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1.7vh;
    transition: padding 0.3s;
}

.avatar-img {
    width: 4.5vh;
    height: 4.5vh;
    border-radius: 50%;
    transition: width 0.3s, height 0.3s;
}

.user-name {
    display: none;
    font-size: 1.7vh;
    color: white;
    margin-top: 0.7vh; 
}

.navbar:hover .user-name {
    display: block;
}

.navbar:hover .avatar-img {
    width: 8vh; 
    height: 8vh; 
}

.nav-buttons {
    margin-top: 4vh;
}

.nav-item {
    display: flex;
    align-items: center;
    padding: 1.1vh;
    cursor: pointer;
    color: white;
    transition: background 0.2s;
}

.nav-item:hover {
    background-color: #D27F38;
}

.icon {
    font-size: 2.5vh;
    margin-right: 1.1vh;
}

.nav-text {
    display: none;
    font-size: 1.7vh;
}

.navbar:hover .nav-text {
    display: inline;
}

.logout {
    position: absolute;
    bottom: 2.2vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1.1vh;
    cursor: pointer;
    color: white;
}

.logout:hover {
    background-color: #D27F38;
}

.wishlist-container {
    margin-left: 20vh;
    padding: 4vh;
    color: #333;
    font-family: 'Poppins', sans-serif;
    margin-top: -2vh;
    max-height: calc(100vh - 4vh);
    overflow-y: scroll;
    -ms-overflow-style: none;
}

.wishlist-container::-webkit-scrollbar {
    width: 0;
    height: 0;
}

.wishlist-container h2 {
    font-size: 2.2em;
    color: #0076A8;
    margin-bottom: 4vh;
    text-align: center;
}

.poi-item {
    background: #FFFFFF;
    border: 0.1vh solid #CCC;
    border-radius: 0.8vh;
    box-shadow: 0 0.4vh 0.8vh rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    padding: 1.5vh;
    margin-bottom: 2vh;
    transition: transform 0.2s, box-shadow 0.2s;
}

.poi-item:hover {
    transform: translateY(-0.5vh);
    box-shadow: 0 0.6vh 1.2vh rgba(0, 0, 0, 0.2);
}

.poi-info {
    flex: 1;
    margin-right: 2vh;
    color: #555;
    margin-bottom: 1vh;
}

.poi-info h3 {
    font-size: 1.5em;
    margin-bottom: 1vh;
    color: #0076A8;
}

.poi-info p {
    font-size: 1em;
    margin: 0;
}

.poi-actions button {
    background-color: #FF5252;
    color: white;
    border: none;
    padding: 0.8vh 1.6vh;
    cursor: pointer;
    border-radius: 0.5vh;
    font-size: 1em;
    transition: background 0.2s, transform 0.2s;
}

.poi-actions button:hover {
    background-color: #D32F2F;
    transform: scale(1.05);
}